body{
    background-image: url(/assets/images/conanamps.jpg);
    background-size: cover;
}


.centerImage {
    position:absolute;
    top:45%;
    left:13%;
  }

  .wrapper{
     position: absolute;
     top: 65%;
     left:45%
  }

.btnColor{
    color: rgba(14, 236, 44, 0.897);
}