body{
    background-image: url(./images/conanamps.jpg);
    background-size: cover;
}


.centerImage {
    position:absolute;
    top:45%;
    left:1%;
   height: auto;
  width: 150px;
   
  }

  .wrapper{
     position: absolute;
     top: 65%;
     left:45%
  }

.btnColor{
    color: rgba(14, 236, 44, 0.897);
}